---
token: {{ k3s_join_token }}
{% if k3s_cluster_master %}
cluster-init: True
{% else %}
server: https://{{ hostvars | json_query("{hosts:*}|hosts[?k3s_name=='" + k3s_name + "' && k3s_cluster_master].inventory_hostname") | first() }}:6443
{% endif %}
{% if k3s_role == 'server' %}
disable:
- local-storage
- servicelb
- traefik
cluster-cidr: {{ cluster_cidr }}
service-cidr: {{ service_cidr }}
embedded-registry: true
{% endif %}
vpn-auth: name=tailscale,joinKey={{ tailscale_join_key }},extraArgs=--ssh
